---
import DefaultLayout from "./DefaultLayout.astro";
import Tags from "components/Tags.astro";
import ShareThis from "components/ShareThis.astro";
import type { ImageMetadata } from "astro";

interface Props {
  title: string;
  description?: string;
  date: string;
  tags: string[];
  tldr?: string[];
  image?: ImageMetadata;
}

const { title, description, date, tags, tldr, image } = Astro.props;
---

<DefaultLayout title={title} description={description} image={image}>
  <div class="row" :class="{ 'hidden-xs': hideTitle, 'hidden-sm': hideTitle }">
    <header class="col-sm-offset-1 col-sm-10 col-md-offset-2 col-md-10">
      <div class="header-info">
        <div class="date">{date}</div>
      </div>
      <h1>{title}</h1>
      <Tags tags={tags} />
    </header>
  </div>
  <div class="row">
    <div class="col-sm-12 col-md-2">
      <ShareThis />
    </div>
    <div class="col-md-10 md-clear">
      {
        tldr && (
          <div class="tldr">
            <em>tl;dr</em>
            <ul>
              {tldr.map((item) => (
                <li set:html={item} />
              ))}
            </ul>
          </div>
        )
      }
      <slot />
    </div>
  </div>
</DefaultLayout>

<style lang="less">
  @import (reference) "../styles/variables.less";

  .header-info {
    text-align: center;
    margin-bottom: -20px;
    font-family: @font-family-sans-serif;
    font-size: 1.4em;
    font-weight: 300;
    div {
      color: @gray-light;
      text-indent: 0;
    }
  }

  .tldr {
    font-family: @font-family-sans-serif;
    font-size: 1.1em;
    margin-bottom: 30px;
    em {
      font-weight: bold;
    }
    li {
      line-height: 1.2em;
      margin-bottom: 6px;
      font-weight: 300;
    }
  }
</style>

<style lang="less" is:global>
  @import "../styles/variables.less";
  .tags {
    font-family: @font-family-sans-serif;
    text-align: center;
    font-size: 1.2em;
    font-weight: 300;
    margin: -15px 0 5px;
    i {
      margin-right: 4px;
    }
    a {
      border-bottom-width: 1px;
    }
  }
</style>
